apiVersion: apps/v1
kind: Deployment
metadata:
  name: overseerr
spec:
  selector:
    matchLabels:
      app: overseerr
  template:
    metadata:
      labels:
        app: overseerr
    spec:
      containers:
        - env:
            - name: LOG_LEVEL
              value: debug
            - name: PORT
              value: "5055"
            - name: TZ
              value: America/Toronto
          image: sctx/overseerr:latest
          name: overseerr
          ports:
            - containerPort: 5055
              name: http
          volumeMounts:
            - mountPath: /app/config
              name: overseerr-claim0
      restartPolicy: Always
      volumes:
        - name: overseerr-claim0
          nfs:
            path: /main/plex/overseerr
            server: 192.168.0.71
---
apiVersion: v1
kind: Service
metadata:
  name: overseerr
spec:
  ports:
    - name: "5055"
      port: 5055
      targetPort: http
  selector:
    app: overseerr

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: overseerr
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`overseerr.tylermarques.com`)
      priority: 10
      services:
        - name: overseerr
          port: 5055
  tls:
    secretName: star-tylermarques-prod-tls
