apiVersion: traefik.us/v1alpha1
kind: IngressRoute
metadata:
  name: marquescg-com
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`marquescg.com`)
      priority: 10
      services:
        - name: prod-marquescg-com
          port: 3000
  tls:
    secretName: marquescg-tls
---
apiVersion: traefik.us/v1alpha1
kind: IngressRoute
metadata:
  name: marquescg-com-http
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`marquescg.com`)
      priority: 10
      middlewares:
        - name: prod-https-redirect
      services:
        - name: prod-marquescg-com
          port: 3000
---
apiVersion: traefik.us/v1alpha1
kind: Middleware
metadata:
  name: https-redirect
spec:
  redirectScheme:
    scheme: https
    permanent: true
